<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419141610642-qu561eq5r5bk5sv676t0cn105jhhf9e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419141610642-qu561eq5r5bk5sv676t0cn105jhhf9e3</string>
	<key>API_KEY</key>
	<string>AIzaSyAFf4QDMFeqN9ukMyH7vYJCBDM8AMtOS84</string>
	<key>GCM_SENDER_ID</key>
	<string>419141610642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-4ce58</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-4ce58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419141610642:ios:ac6e742b479863e6ad0a4b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-4ce58-default-rtdb.firebaseio.com</string>
</dict>
</plist>